body {
    margin: 0;
    padding: 0;
}
.area-int {
    display: flex;
    justify-content: center;
}
.area-start {
    display: flex;
    justify-content: center;
}
.area-duck {
    display: none;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 400px;
    background-image: url('images-duck-game/quarto.jpg');
    background-position: center;
    background-size: cover;
}
.duck, .clothes {
    display: flex;
    justify-content: center;
}
.duck {
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 490px;
    margin: 10%;
}
.duckImg, .rpa, .rpa2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Preenche a largura total da div principal */
    height: 100%; /* Preenche a altura total da div principal */

}
.duck .duckImg {
    position: absolute;
    z-index: 1;
    width: 200px;
}
.rpa, .rpa2{
    position: absolute;
    z-index: 2;
    display: none;
}
.clothes {
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
}
