body {
    margin: 0;
    padding: 0;
}
.area-int {
    display: flex;
    justify-content: center;
}
.area-start {
    display: flex;
    justify-content: center;
}
.area-duck {
    display: none;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 400px;
    background-image: url('images-duck-game/quarto.jpg');
    background-position: center;
    background-size: cover;
}
.duck, .clothes {
    display: flex;
    justify-content: center;
}
.duck .duckImg {
    position: relative;
    width: 200px;
    margin: 5%;
}
.rpa, .rpa1, .rpa2{
    position: absolute;
    width: 0; 
    height: auto;
    top: 0;
    left: 0;
}
.clothes {
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
}

/* Celulares Pequenos */
@media (max-width: 320px) {
    .duck img:nth-child(2) {
        margin-left: -21%;
        margin-top: -10%;
    }
    .duck img:nth-child(4) {
        margin-left: -17%;
        margin-top: -20%;
    }
    .blusinRosa img:nth-child(2){
        margin-left: -16%;
    }
}

/* Celulares Médios */
@media (min-width: 321px) and (max-width: 375px) {
    .duck img:nth-child(2) {
        margin-left: -19%;
        margin-top: -10%;
    }
    .duck img:nth-child(4) {
        margin-left: -15%;
        margin-top: -19%;
    }
    .blusinRosa img:nth-child(2){
        margin-left: -15%;
    }
}

/* Celulares Grandes */
@media (min-width: 376px) and (max-width: 425px) {
    .duck img:nth-child(2) {
        margin-left: -14%;
        margin-top: -8%;
    }
    .duck img:nth-child(4) {
        margin-left: -11%;
        margin-top: -15%;
    }
    .blusinRosa img:nth-child(2){
        margin-left: -11%;
        margin-top: -7%;
    }
}

/* Tablets */
@media (min-width: 426px) and (max-width: 768px) {
    .duck img:nth-child(2) {
        margin-left: -6%;
        margin-top: -5%;
    }
    .duck img:nth-child(4) {
        margin-left: -5%;
        margin-top: -8%;
    }
    .blusinRosa img:nth-child(2){
        margin-left: -5%;
        margin-top: -4%;
    }
}

/* Tablets Grandes */
@media (min-width: 769px) and (max-width: 1024px) {
    .duck img:nth-child(2) {
        margin-left: -3%;
        margin-top: -3%;
    }
    .duck img:nth-child(4) {
        margin-left: -2%;
        margin-top: -6%;
    }
    .blusinRosa img:nth-child(2){
        margin-left: -2%;
        margin-top: -3%;
    }
}

